.box1 {
  h2 {
    color: #333d4b;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
  }

  h3 {
    color: #333d4b;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}
